@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  font-size: auto;
  background: var(--background);
  font-family:'Inter', sans-serif;
}
